// @import "variables" var;
$primary-background: #4d4e4f;
$primary-font: 'Open Sans';


body {
  font-family: $primary-font;
  margin: 0;
  background-color: $primary-background;
  height: auto;
}

h1 {
  text-align: center;
  color: #ffffff;
  height: 80px;
  padding-top: 10px;
}
